PORT=4000
GEMINI_API_KEY=your_gemini_api_key_here
BACKBOARD_API_KEY=your_backboard_api_key_here
DATABASE_URL=postgres://tsdbadmin@jtf4omyes3.ehv2z06xub.tsdb.cloud.timescale.com:39663/tsdb?sslmode=require
TIGER_DATA_PASSWORD=
AUTH0_DOMAIN=skmpe.us.auth0.com
AUTH0_CLIENT_ID=U7jFSU34Rfu3DJOCIcUzWCWxG08PwgCL
AUTH0_AUDIENCE=U7jFSU34Rfu3DJOCIcUzWCWxG08PwgCL
